<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
<title>菜单管理</title>
<link rel="stylesheet"
	th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/resources/dist/css/skins/_all-skins.css}" />
<link rel="stylesheet" th:href="@{/resources/dist/css/AdminLTE.min.css}" />
<link rel="stylesheet"
	th:href="@{/resources/dist/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/resources/dist/css/ionicons.min.css}" />
<link rel="stylesheet"
	th:href="@{/resources/plugins/bootstrapValidator/bootstrapValidator.min.css}" />

<link rel="stylesheet" th:href="@{/resources/e7/css/e7-0.2.css}" />
<link rel="stylesheet"
	th:href="@{/resources/e7/e7table/e7table-0.2.css}" />
	
	<link rel="stylesheet"
	th:href="@{/resources/adminlte/dist/css/AdminLTE.css}" />
	
	
<link rel="stylesheet"
	th:href="@{/resources/plugins/ligerUI/ligerui-tree.css}" />
<link rel="stylesheet"
	th:href="@{/resources/plugins/ligerUI/ligerui-menu.css}" />

<style type="text/css">
.l-tree span {
	display: inline;
	margin-left: 10px;
}

#treeDiv {
	width: 100% !important;
}
</style>
</head>

<body style="background: white; overflow-y: auto;">
	<div class="panel" style="margin-bottom: 70px;">
		<div class="panel-default panel-body">
		<div class="col-md-3">
			<ul id="treeDiv"></ul>
			</div>
			<div class="col-md-9">
				<!-- 列表查询 start-->
	<section id="main_search_detail" class="content">
		<!-- 条件查询 -->
		<div class="box box-info">
			<!-- 条件区域 -->
			<div class="box-body" style="padding-bottom: 0px;">
				<form id="frm_query" class="form-horizontal">
					<div id="div_criteria" class="flowlayout">
						<div class="col-md-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">名称：</label>
								<div class="col-sm-8">
									<input id="name" name="name"
										class="form-control" placeholder="名称" />
								</div>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">俗名：</label>
								<div class="col-sm-8">
									<input id="commNm" name="commNm"
										class="form-control" placeholder="俗名" />
								</div>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">学名：</label>
								<div class="col-sm-8">
									<input id="tyNm" name="tyNm"
										class="form-control" placeholder="学名" />
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">类型：</label>
								<div class="col-sm-8">		
									<select name="folder" class="form-control">
										<option value="">-请选择-</option>
										<option value="0">品名</option>
										<option value="1">品种</option>
									</select>						
								</div>
							</div>
						</div>

					</div>
				</form>
			</div>

			<!-- 按钮区域 -->
			<div id="div_buttons" class="box-footer"></div>
		</div>

		<!-- 信息列表 -->
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-info">
					<div class="box-body table-responsive no-padding">
						<table id="tbl_query" class="table table-hover"></table>
					</div>
				</div>
			</div>
		</div>

	</section>
			</div>
		</div>
	</div>

	<!-- Modal 详情-->
	<div class="modal fade" id="mdl_detail" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">品种品名管理</h4>
				</div>
				<div class="modal-body" style="overflow: auto;">
					<form id="frm_detail" class="form-horizontal">
						<fieldset id='fld_detail'>
							<input id="hid_id" name="id" type="hidden" /> <input id="hid_pid"
								name="pid" type="hidden" /> <input id="hid_level" name="level"
								type="hidden" />
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="" class="col-sm-3 control-label">名称 <span
											style="color: red">*</span></label>
										<div class="col-sm-8">
											<input name="name" class="form-control" placeholder="品种或品名名称"
												maxlength="20" />
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="" class="col-sm-3 control-label">类型 <span
											style="color: red">*</span></label>
										<div class="col-sm-8">
											<input type="radio" name="folder" value="1"
												checked="true" onClick="return display_pd_nm_div(false)"> 品种</input> &nbsp&nbsp&nbsp&nbsp&nbsp<input
												type="radio" name="folder" value="0" onClick="return display_pd_nm_div(true)"> 品名</input>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="" class="col-sm-3 control-label">是否启用<span
											style="color: red">*</span></label>
										<div class="col-sm-8">
											<input type="radio" name="wthrCmnused" value="1"
												checked="true"> 启用</input> &nbsp&nbsp&nbsp&nbsp&nbsp<input
												type="radio" name="wthrCmnused" value="0"> 禁用</input>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="" class="col-sm-3 control-label">俗名</label>
										<div class="col-sm-8">
											<input name="commNm" class="form-control" placeholder="俗名"
												maxlength="50" />
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="" class="col-sm-3 control-label">学名</label>
										<div class="col-sm-8">
											<input name="tyNm" class="form-control" placeholder="学名"
												maxlength="50" />
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="" class="col-sm-3 control-label">排序</label>
										<div class="col-sm-8">
											<input name="sort" class="form-control" placeholder="展示顺序"
												maxlength="20" />
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="" class="col-sm-3 control-label">介绍</label>
										<div class="col-sm-8">
											<textarea name="vrtyIntd" class="form-control"
												placeholder="介绍" rows="3" maxlength="200"></textarea>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="" class="col-sm-3 control-label">备注</label>
										<div class="col-sm-8">
											<textarea name="memo" class="form-control" placeholder="备注"
												rows="3" maxlength="200"></textarea>
										</div>
									</div>
								</div>
							</div>

							<div id="pd_nm_div" style="display: none">
							
							<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-3 control-label">价格范围</label>
									<div class="col-sm-8 ">
										<div class="col-xs-5" style="padding: 0px;">
											<input name="prcLwrlmt"  class="form-control"
												style="padding-left: 3px;" placeholder="价格下限" />
										</div>
										<div class="col-xs-1 ">
											<label for="" class="control-label">- </label>
										</div>
										<div class="col-xs-5" style="padding: 0px;">
											<input name="prcUplm"  class="form-control"
												style="padding-left: 3px;" placeholder="价格上限" />
										</div>
									</div>
								</div>
							</div>								
									<div class="col-md-6">
										<div class="form-group">
											<label for="" class="col-sm-3 control-label">计量单位</label>
											<div class="col-sm-8">
												<input name="msunit" class="form-control" placeholder="计量单位"
													maxlength="20" />
											</div>
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="" class="col-sm-3 control-label">质量标准</label>
											<div class="col-sm-8">
												<input name="qlyStd" class="form-control" placeholder="质量标准"
													maxlength="20" />
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<label for="" class="col-sm-3 control-label">规格</label>
											<div class="col-sm-8">
												<input name="spec" class="form-control" placeholder="规格"
													maxlength="20" />
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="" class="col-sm-3 control-label">品牌</label>
											<div class="col-sm-8">
												<input name="brnd" class="form-control" placeholder="品牌"
													maxlength="20" />
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="" class="col-sm-3 control-label">生产厂家</label>
											<div class="col-sm-8">
												<input name="pdFctr" class="form-control" placeholder="生产厂家"
													maxlength="20" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
				<!-- Loading (remove the following to stop the loading)-->
				<!-- end loading -->
				<div class="modal-footer">
					<button id="btn_save" type="submit" class="btn btn-primary"
						onclick="javascript:save();">保存</button>
					<button id="btn_close" type="button" class="btn btn-default"
						data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>

	<!-- /.content -->

	<script th:src="@{/resources/plugins/jQuery/jquery-2.2.3.min.js}"></script>
	<script th:src="@{/resources/plugins/bootbox/bootbox.min.js}"></script>
	<script th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script>
	<script
		th:src="@{/resources/plugins/bootstrapValidator/bootstrapValidator.min.js}"></script>
	<script th:src="@{/resources/dist/js/app.min.js}"></script>
	<script th:src="@{/resources/e7/e7util-0.2.js}"></script>
	<script th:src="@{/resources/plugins/ligerUI/base.js}"></script>
	<script th:src="@{/resources/plugins/ligerUI/ligerTree.js}"></script>
	<script th:src="@{/resources/plugins/ligerUI/ligerMenu.js}"></script>
		<script th:src="@{/resources/e7/e7util-0.2.js}"></script>
	<script th:src="@{/resources/e7/e7table/e7table-0.2.js}"></script>
	<script th:src="@{/resources/e7/e7crud-0.2.js}"></script>
	<script th:src="@{/resources/js_zcb/tools.js}"></script>

	<script type="text/javascript">
	
	function buttonInit() {
			$("#div_buttons")
					.append(
							'<button class="btn btn-default pull-right" onclick="javascript:reset()">重置</button>');
			$("#div_buttons")
					.append(
							'<button class="btn btn-primary pull-right" onclick="javascript:query_ar_list()" style="margin-right:15px;">查询</button>');
	}
	
	/***
	 * 查询
	 */
	function query_ar_list() {
//		showOrHideDetail(true, 1);
		$('#tbl_query').e7table('query', '#frm_query');

	}	
	
		/*<![CDATA[*/
		$(function() {
			tree = $("#treeDiv").ligerTree({
				url : '[[@{/vrty/queryAll}]]',
				textFieldName : 'name',
				idFieldName : 'id',
				parentIDFieldName : 'pid',
				needCancel : false,
				checkbox : false,
				parentIcon : true,
				childIcon : true,
				iconFieldName : 'icon',
				onContextmenu : function(node, e) {
					currentMenuNode = node;
					menu.show({
						top : e.pageY,
						left : e.pageX
					});
					return false;
				}
			});

			validatorInit();

			e7tableInit();
			buttonInit();
		});

		/***
		 * e7table表格控件初始化
		 */
		function e7tableInit() {
			$('#tbl_query')
					.e7table(
							{
								url : '[[@{/vrty/queryPage}]]',
								pageSize : 5,
								autoLoading : true, //控件初始化后，自动远程请求数据
								selectType : 'single',
								sortName : 'updateTime', //排序列名,创建时间
						 		striped: false, //奇偶行不同背景 
								pagination: true,
								rownumbers: false,		//如果为true，则显示一个行号列
								sortOrder : 'desc', //排序方向
								columns : [
									{
										title : '名称',
										field : 'name',
										sortable : true
									},
										{
											title : '俗名',
											field : 'commNm',
											sortable : true
										},
										{
											title : '学名',
											field : 'tyNm',
											sortable : true
										},
										{
											title : '类型',
											field : 'folder',
											formatter: function(value, row, index) {
												if(value=="1") {
													return '品种';
												} else {
													return '品名';
												}
											}},
										{
											title : '是否启用',
											field : 'wthrCmnused',
											formatter: function(value, row, index) {
												if(value) {
													return '<code class="text-success bg-success">启用</code>';
												} else {
													return '<code>禁用</code>';
												}
											}},
										{
											title : '更新时间',
											field : 'updateTime',
											sortable : true,
											formatter : function(value, row,
													index) {
												return transDateTime(value);
											}
										}],
								onDblclick : function(index, row) {
									showArDetailDialog();
								}
							});
		}	
		
		function save() {
			$('#frm_detail').bootstrapValidator('validate');

			if (!$('#frm_detail').data('bootstrapValidator').isValid()) {
				return;
			}

			var formParams = E7.serialForm('#frm_detail');

			E7.post('[[@{/vrty/save}]]', formParams, function(data) {
				$('#mdl_detail').modal('hide');
				alertAndReload('保存成功！');
			});
		}

		function alertAndReload(msg) {
			bootbox.alert({
				buttons : {
					ok : {
						label : '确定',
						className : 'btn-info'
					}
				},
				title : '信息',
				message : msg,
				callback : function() {
					window.location.href = window.location.href;
				}
			});
		}

		$.fn.bootstrapValidator.validators.urlRequired = {
			validate : function(validator, $field, options) {
				var value = $field.val();
				if ($('#sel_folder').val() == '0' && value.trim() == '') {
					return false;
				}
				return true;
			}
		};
		/***
		 * 表单验证
		 */
		function validatorInit() {
			$('#frm_detail').bootstrapValidator({
				feedbackIcons : {
					valid : 'glyphicon glyphicon-ok',
					invalid : 'glyphicon glyphicon-remove',
					validating : 'glyphicon glyphicon-refresh'
				},
				fields : {
					name : {
						validators : {
							notEmpty : {
								message : '菜单名称不能为空'
							},
							stringLength : {
								min : 3,
								max : 20,
								message : '菜单名称长度必须在3-20之间'
							}
						}
					},
					name : {
						validators : {
							notEmpty : {
								message : '角色名称不能为空'
							},
							stringLength : {
								min : 2,
								max : 20,
								message : '角色名称必须在2-20之间'
							}
						}
					},
					url : {
						validators : {
							urlRequired : {
								message : '菜单URL不能为空'
							}
						}
					}
				}
			});

			$('#btn_save').click(function() {
				$('#frm_detail').bootstrapValidator('validate');
			});
		}

		var data;
		var tree;
		var currentMenuNode;

		/***
		 * 菜单
		 */
		var menu = $
				.ligerMenu({
					width : 120,
					items : [
							{
								text : '增加',
								click : function() {
									if (!currentMenuNode.data.folder) {
										bootbox
												.alert({
													'title' : "错误消息",
													'message' : '<code>非目录</code>节点不能添加子菜单！'
												});
										return;
									}

									$('#frm_detail')[0].reset();
									$('#hid_id').val('');
									$('#hid_pid').val(currentMenuNode.data.id);
									$('#hid_level').val(
											currentMenuNode.data.level + 1);
									$('#sel_folder').prop('disabled', false);

									$('#mdl_detail').modal('show');
								}
							},
							{
								text : '修改',
								click : function() {
									if (currentMenuNode.data.id == 0) {
										bootbox.alert({
											'title' : "错误消息",
											'message' : '<code>根节点</code>不能编辑！'
										});
										return;
									}

									$('#frm_detail')[0].reset();
									$('#sel_folder').prop('disabled', true);

									E7.post('[[@{/vrty/get}]]', {
										'id' : currentMenuNode.data.id
									}, function(result) {
										var detail = result.data;
										for (key in detail) {
											$(
													'#frm_detail [name="' + key
															+ '"]').val(
													detail[key]);
										}
										if (detail.folder) {
											$('#sel_folder').val('true');
										} else {
											$('#sel_folder').val('false');
										}

										$('#mdl_detail').modal('show');
									});
								}
							},
							{
								text : '删除',
								click : function() {
									if (currentMenuNode.data.id == 0) {
										bootbox.alert({
											'title' : "错误消息",
											'message' : '<code>根节点</code>不能删除！'
										});
										return;
									}
									if (currentMenuNode.data.children
											&& currentMenuNode.data.children.length > 0) {
										bootbox
												.alert({
													'title' : "错误消息",
													'message' : '有<code>子节点</code>不能删除！'
												});
										return;
									}

									bootbox.confirm({
										buttons : {
											cancel : {
												label : '取消',
												className : 'btn-cancel'
											},
											confirm : {
												label : '确定',
												className : 'btn-info'
											}
										},
										className : "del-model",
										message : '确定删除？',
										callback : function(result) {
											if (!result)
												return;

											E7.post('[[@{/vrty/del}]]', {
												'id' : currentMenuNode.data.id
											}, function(result) {
												if (result.code == 0) {
													alertAndReload('删除成功！');
												} else {
													bootbox.alert({
														'title' : "错误消息",
														'message' : result.msg
													});
												}
											});
										},
										title : "确定删除？"
									});

								}
							} ]
				});

		/*]]>*/
		
		function display_pd_nm_div(flag){
			if(flag){
				document.getElementById('pd_nm_div').style.display="";
			} else {
				document.getElementById('pd_nm_div').style.display="none";
			}
		}
	</script>

</body>
</html>
