.btn_small {
	display: inline-block;
	padding: 1px 10px;
	margin-bottom: 0;
	font-size: 14px; 
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.btn-primary-red {
    color: #fff;
    background-color: #C3214A;
    border-color: #9C3952;
}

.btn-primary-gray {
    color: #fff;
    background-color: #2D5171;
    border-color: #2F4355;
}