<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
<title>融资申请</title>
<link rel="stylesheet"
	th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/resources/dist/css/skins/_all-skins.css}" />
<link rel="stylesheet" th:href="@{/resources/dist/css/AdminLTE.min.css}" />
<link rel="stylesheet"
	th:href="@{/resources/dist/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/resources/dist/css/ionicons.min.css}" />
<link rel="stylesheet"
	th:href="@{/resources/plugins/bootstrapValidator/bootstrapValidator.min.css}" />
<link rel="stylesheet" th:href="@{/resources/e7/css/e7-0.2.css}" />
<link rel="stylesheet"
	th:href="@{/resources/e7/e7table/e7table-0.2.css}" />
<link rel="stylesheet"
	th:href="@{/resources/adminlte/dist/css/AdminLTE.css}" />
<link rel="stylesheet"
	th:href="@{/resources/adminlte/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/resources/adminlte/plugins/iCheck/all.css}" />
<link rel="stylesheet" th:href="@{/resources/style.css}" />
<link rel="stylesheet"
	th:href="@{/resources/dist/kl-iconfont/iconfont.css}" />
<link rel="stylesheet"
	th:href="@{/resources/plugins/datetimepicker/css/bootstrap-datetimepicker.min.css}" />
<!-- 页面背景图片 -->
<style type="text/css">
body {
	padding: 0;
	margin: 0;
	background: url(/resources/dist/img/page_bg.png) no-repeat;
	width: 100%;
	background-size: cover;
}
</style>
<link rel="stylesheet" th:href="@{/resources/css_zcb/common.css}" />
<!-- 自定义按钮样式 -->
<link rel="stylesheet" th:href="@{/resources/css_zcb/button.css}" />

</head>
<body>
	<!-- Main content -->
	<section id="sec_main" class="content">
		<!-- 条件查询 -->
		<div class="box box-info">
			<!-- 条件区域 -->
			<div class="box-body" style="padding-bottom: 0px;">
				<form id="frm_query" class="form-horizontal">
					<div id="div_criteria" class="flowlayout">
						<div class="col-md-4">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">公司全称：</label>
								<div class="col-sm-8">
									<input name="companyName" class="form-control"
										placeholder="公司全称"/>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">联系人：</label>
								<div class="col-sm-8">
									<input name="ctcpsn" class="form-control" placeholder="联系人" />
								</div>
							</div>
						</div>
<!-- 						<div class="col-md-4">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">联系电话：</label>
								<div class="col-sm-8">
									<input name="ctcTel" class="form-control" placeholder="联系电话" disabled="disabled"/>
								</div>
							</div>
						</div> -->

<!-- 						<div class="col-md-4">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">申请渠道：</label>
								<div class="col-sm-8">
									<input name="aplyChnl" class="form-control" placeholder="申请渠道" disabled="disabled"/>
								</div>
							</div>
						</div> -->
						<div class="col-md-4">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">处理人：</label>
								<div class="col-sm-8">
									<input name="username" class="form-control" placeholder="处理人" />
								</div>
							</div>
						</div>

					</div>
				</form>
			</div>

			<!-- 按钮区域 -->
			<div id="div_buttons" class="box-footer"></div>
		</div>

		<!-- 信息列表 -->
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-info">
					<div class="box-body table-responsive no-padding">
						<table id="tbl_query" class="table table-hover"></table>
					</div>
				</div>
			</div>
		</div>

	</section>
	<!-- /.content -->

	<!-- 详细信息 start-->
	<section id="sec_detail" class="content" style="display: none;">
		<div id="main_edit_detail_clapse" class="box box-info">
			<div class="box-header with-border">
				<h4 id="main_edit_detail_title" class="text-info"></h4>
				<div class="box-tools pull-right">
					<button class="btn btn-box-tool" data-widget="collapse">
						<i id="main_edit_detail_li" class="fa fa-minus"></i>
					</button>
				</div>
			</div>
			<div class="box-body">
				<form id="frm_detail" class="form-horizontal">
					<fieldset id='fld_detail'>
						<div class="w-z-info">
							<input name="id" type="hidden" value="" />
							<div class="row">

								<div class="col-md-6" >
									<div class="form-group">
										<label for="" class="col-sm-4 control-label">公司全称：</label>
										<div class="col-sm-8">
											<input name="companyName" class="form-control"
												placeholder="公司全称" disabled="disabled"/>
										</div>
									</div>
								</div>
								<div class="col-md-6" >
									<div class="form-group">
										<label for="" class="col-sm-4 control-label">电子邮箱：</label>
										<div class="col-sm-8">
											<input name="email" class="form-control" placeholder="电子邮箱"  disabled="disabled"/>
										</div>
									</div>
								</div>
								<div class="col-md-6" >
									<div class="form-group">
										<label for="" class="col-sm-4 control-label">联系人：</label>
										<div class="col-sm-8">
											<input name="ctcpsn" class="form-control" placeholder="联系人"  disabled="disabled"/>
										</div>
									</div>
								</div>
								<div class="col-md-6" >
									<div class="form-group">
										<label for="" class="col-sm-4 control-label">联系电话：</label>
										<div class="col-sm-8">
											<input name="ctcTel" class="form-control" placeholder="联系电话"  disabled="disabled"/>
										</div>
									</div>
								</div>
								<div class="col-md-6" >
									<div class="form-group">
										<label for="" class="col-sm-4 control-label">融资需求描述：</label>
										<div class="col-sm-8">
											<input name="fncRqmDsc" class="form-control"
												placeholder="融资需求描述"  disabled="disabled"/>
										</div>
									</div>
								</div>
								<div class="col-md-6" >
									<div class="form-group">
										<label for="" class="col-sm-4 control-label">申请时间：</label>
										<div class="col-sm-8">
											<input name="aplyTm" class="form-control" placeholder="申请时间"  disabled="disabled"/>
										</div>
									</div>
								</div>
<!-- 								<div class="col-md-6" >
									<div class="form-group">
										<label for="" class="col-sm-4 control-label">申请渠道：</label>
										<div class="col-sm-8">
											<input name="aplyChnl" class="form-control"
												placeholder="申请渠道" />
										</div>
									</div>
								</div> -->
<!-- 								<div class="col-md-6" >
									<div class="form-group">
										<label for="" class="col-sm-4 control-label">修改时间：</label>
										<div class="col-sm-8">
											<input name="modTm" class="form-control" placeholder="修改时间" />
										</div>
									</div>
								</div> -->
								<div class="col-md-6" >
									<div class="form-group">
										<label for="" class="col-sm-4 control-label">处理人：</label>
										<div class="col-sm-8">
											<input name="username" class="form-control" placeholder="处理人"  disabled="disabled"/>
										</div>
									</div>
								</div>
								<div class="col-md-6" >
									<div class="form-group">
										<label for="" class="col-sm-4 control-label">处理时间：</label>
										<div class="col-sm-8">
											<input name="pcsTm" class="form-control" placeholder="处理时间" disabled="disabled"/>
										</div>
									</div>
								</div>
								<div class="col-md-6" >
									<div class="form-group">
										<label for="" class="col-sm-4 control-label">处理备注：</label>
										<div class="col-sm-8">
											<input name="rmrk" class="form-control" placeholder="处理备注" />
										</div>
									</div>
								</div>

							</div>

						</div>
					</fieldset>
				</form>
			</div>
			<div class="box-footer">
				<button id="btn_close" type="button"
					class="btn btn-primary-gray pull-right "
					onclick='javascript:hideDetail();' style="margin-right: 15px;">
					<i class="glyphicon glyphicon-remove-sign"></i>取消
				</button>
				<button id="btn_save" type="button"
					class="btn btn-primary-red pull-right" onclick='javascript:save();'
					style="margin-right: 5px;">
					<i class="glyphicon glyphicon-floppy-disk"></i>保存
				</button>
			</div>

			<!-- 页面悬浮固定的返回按钮 start-->
			<div id="xuanfu_btn_close_div"
				style="z-index: 9999; position: fixed ! important; right: 80px; top: 25px; opacity: 0.65">
				<table width=""
					100% style="position: absolute; width: 260px; right: 0px; top: 0px;">
					<button id="btn_close_return3" type="button"
						class="btn btn-success pull-right btn-lg"
						onclick='javascript:hideDetail();' style="margin-right: 15px;">
						<i class="glyphicon glyphicon-arrow-left"></i> 返 回
					</button>
				</table>
			</div>

		</div>
	</section>
	<!-- 详细信息 end-->

	<script th:src="@{/resources/plugins/jQuery/jquery-2.2.3.min.js}"></script>
	<script th:src="@{/resources/plugins/bootbox/bootbox.min.js?v=1}"></script>
	<script th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script>
	<script
		th:src="@{/resources/plugins/bootstrapValidator/bootstrapValidator.min.js}"></script>
	<script th:src="@{/resources/dist/js/app.min.js}"></script>
	<script th:src="@{/resources/e7/e7util-0.2.js}"></script>
	<script th:src="@{/resources/e7/e7table/e7table-0.2.js}"></script>
	<script th:src="@{/resources/e7/e7crud-0.2.js}"></script>
	<script
		th:src="@{/resources/plugins/datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
	<script
		th:src="@{/resources/plugins/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
	<script th:src="@{/resources/js_zcb/tools.js}"></script>
	<script th:src="@{/resources/js_zcb/layer/layer.js}"></script>

	<script type="text/javascript">
		var pageSetting = {
			modelName : '融资申请',
			resetPath : '[[@{/fncAply}]]'
		};

		$(function() {
			//e7table表格控件初始化
			e7tableInit();
			//初始化按钮
			buttonInit();
			//表单校验控件初始化
			validatorInit();
		});

		/***
		 * 查询
		 */
		function query() {
			$('#tbl_query').e7table('query', '#frm_query');
		}

		/***
		 * 重置
		 */
		function reset() {
			E7.resetForm('#frm_query');
		}

		/***
		 * e7table表格控件初始化
		 */
		function e7tableInit() {
			$('#tbl_query').e7table({
				url : '[[@{/fncAply/queryPage}]]',
				pageSize : 10,
				sortName : 'modTm', //排序列名,更新时间
				autoLoading : true, //控件初始化后，自动远程请求数据
				selectType : 'multiple',
				rownumbers : false,
				checkbox : false,
				columns : [ {
					title : '公司全称',
					field : 'companyName',
					sortable : true
				}, {
					title : '电子邮箱',
					field : 'email',
					sortable : true
				}, {
					title : '联系人',
					field : 'ctcpsn',
					sortable : true
				}, {
					title : '联系电话',
					field : 'ctcTel',
					sortable : true
				}, {
					title : '融资需求描述',
					field : 'fncRqmDsc',
					sortable : true
				}, {
					title : '申请时间',
					field : 'aplyTm',
					sortable : true,
					formatter: function(value, row, index) {return new Date(value).format();}
				}, {
					title : '已处理',
					field : 'aplyChnl',
					sortable : true,
					formatter: function(value, row, index) { 
						if(row.rmrk ==null || row.rmrk=="") 
							return "是"; 
						else 
							return "否";
						}
				},{
					title : '处理人',
					field : 'username',
					sortable : true
				}, {
					title : '处理时间',
					field : 'pcsTm',
					sortable : true,
					formatter: function(value, row, index) {return new Date(value).format();}
				}, {
					title : '处理备注',
					field : 'rmrk',
					sortable : true
				}, ],
				onDblclick : function(index, row) {
					showViewDialog();
				}
			});
		}

		/***
		 * 表单校验控件初始化
		 */
		function validatorInit() {
			$('#frm_detail').bootstrapValidator({
				feedbackIcons : {
					valid : 'glyphicon glyphicon-ok',
					invalid : 'glyphicon glyphicon-remove',
					validating : 'glyphicon glyphicon-refresh'
				},
				fields : {
					"id" : {
						validators : {
							notEmpty : {
								message : 'ID不能为空'
							}
						}
					},
					"companyName" : {
						validators : {
							notEmpty : {
								message : '公司全称不能为空'
							}
						}
					},
					"email" : {
						validators : {
							notEmpty : {
								message : '电子邮箱不能为空'
							}
						}
					},
					"ctcpsn" : {
						validators : {
							notEmpty : {
								message : '联系人不能为空'
							}
						}
					},
					"ctcTel" : {
						validators : {
							notEmpty : {
								message : '联系电话不能为空'
							}
						}
					},
					"fncRqmDsc" : {
						validators : {
							notEmpty : {
								message : '融资需求描述不能为空'
							}
						}
					},
					"aplyTm" : {
						validators : {
							notEmpty : {
								message : '申请时间不能为空'
							}
						}
					},
					"aplyChnl" : {
						validators : {
							notEmpty : {
								message : '申请渠道不能为空'
							}
						}
					},
					"modTm" : {
						validators : {
							notEmpty : {
								message : '修改时间不能为空'
							}
						}
					},
					"username" : {
						validators : {
							notEmpty : {
								message : '处理人不能为空'
							}
						}
					},
					"pcsTm" : {
						validators : {
							notEmpty : {
								message : '处理时间不能为空'
							}
						}
					},
					"rmrk" : {
						validators : {
							notEmpty : {
								message : '处理备注不能为空'
							}
						}
					},
				}
			});

			$('#btn_save').click(function() {
				$('#frm_detail').bootstrapValidator('validate');
			});
		}

		/***
		 * 隐藏详情div，返回按钮使用
		 */
		function hideDetail() {
			$('#sec_detail').fadeOut(300);
			setTimeout(function() {
				$('#sec_main').show();
			}, 300)
		}
		// 打开添加详情页面
		function showAddDialog() {
			E7.resetForm('#frm_detail');
			showOrHideDetail(true, 1);
		}
		// 打开编辑详情页面
		function showEditDialog() {
			var rows = $('#tbl_query').e7table('getSelectedRows');
			if (rows.length == 0) {
				bootbox.alert({
					'title' : '错误消息',
					'message' : '请选择数据！'
				});
				return;
			} else if (rows.length > 1) {
				bootbox.alert({
					'title' : '错误消息',
					'message' : '一次只能修改一条数据！'
				});
				return;
			}
			if ($('#frm_detail').data('bootstrapValidator')) {
				$('#frm_detail').data('bootstrapValidator').resetForm(true);
			}
			queryDetails(rows[0]['id']);
			showOrHideDetail(true, 4);
		}
		// 打开查看详情页面
		function showViewDialog() {
			var rows = $('#tbl_query').e7table('getSelectedRows');
			if (rows.length == 0) {
				bootbox.alert({
					'title' : '错误消息',
					'message' : '请选择数据！'
				});
				return;
			} else if (rows.length > 1) {
				bootbox.alert({
					'title' : '错误消息',
					'message' : '一次只能查看一条数据！'
				});
				return;
			}
			queryDetails(rows[0]['id']);
			showOrHideDetail(false, 3);
		}
		// 查询详情
		function queryDetails(id) {
			E7.post(pageSetting.resetPath + '/getDetailById', {
				'id' : id
			}, function(result) {
				var detail = result.data;
				for (key in detail) {
 					if(key=="aplyTm" || key=="pcsTm")
					/* 	$('#frm_detail [name="' + key + '"]').val(Date(detail[key]).format()); */
						$('#frm_detail [name="' + key + '"]').val(transDateTime(detail[key]));
					else
						$('#frm_detail [name="' + key + '"]').val(detail[key]);
					
				}
			});
		}
		// 控制界面的显示隐藏、是否可编辑
		function showOrHideDetail(editable, flag) {
			if (editable) {
				$('#fld_detail').prop('disabled', false);
				$('#btn_save').show();
			} else {
				$('#fld_detail').prop('disabled', true);
				$('#btn_save').hide();
			}
			if (flag == 1) {// 新增
				$('#main_edit_detail_title').text(
						"您所在位置 : 业务参数 > " + pageSetting.modelName + " > 新增");
				// section
				$('#sec_detail').fadeIn(300);
				$('#sec_main').hide();
			} else if (flag == 3) {// 详情查看
				$('#main_edit_detail_title').text(
						"您所在位置 : 业务参数 > " + pageSetting.modelName + " > 查看详情");
				// section
				$('#sec_detail').fadeIn(300);
				$('#sec_main').hide();
			} else if (flag == 4) {// 修改
				$('#main_edit_detail_title').text(
						"您所在位置 : 业务参数 > " + pageSetting.modelName + " > 修改");
				// section
				$('#sec_detail').fadeIn(300);
				$('#sec_main').hide();
			}
		}

		// 根据不同角色控制按钮控件的展示
		function buttonInit() {
			if ('[[${userType}]]' == "pltfrm" || '[[${userType}]]' == "bnk") {
/* 				$("#div_buttons")
						.append(
								'<button type="button" class="btn btn-primary-red btn-sm" onclick="javascript:showAddDialog();" style="margin-right:7px;"><i class="glyphicon glyphicon-plus"></i> 添加</button>'); */
				$("#div_buttons")
						.append(
								'<button type="button" class="btn btn-primary-red btn-sm" onclick="javascript:showEditDialog();" style="margin-right:7px;"><i class="glyphicon glyphicon-edit"></i> 处理</button>');
				$("#div_buttons")
						.append(
								'<button type="button" class="btn btn-primary-red btn-sm" id="btn-del" onclick="javascript:batchDel();" style="margin-right:7px;"><i class="glyphicon glyphicon-trash"></i> 删除</button>');
			}
			$("#div_buttons")
					.append(
							'<button id="btn_search" class="btn btn-primary-gray btn-sm" type="button" class="btn btn-primary pull-right" onclick="javascript:showViewDialog();" style="margin-right:5px;"><i class="glyphicon glyphicon-search"></i> 查看</button>');
			$("#div_buttons")
					.append(
							'<button type="button" class="btn btn-sm btn-primary-gray pull-right" onclick="javascript:reset()"><i class="glyphicon glyphicon-refresh"></i> 重置</button>');
			$("#div_buttons")
					.append(
							'<button id="btn_search"  type="button" class="btn btn-primary-gray btn-sm pull-right" onclick="javascript:query()" style="margin-right:15px;"><i class="glyphicon glyphicon-search"></i> 查询</button>');
		}
	</script>
</body>
</html>