<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale-1">
<title>找回密码</title>
<link type="text/css" rel="stylesheet" href="/resources/ui/CSS/base.css">
<link type="text/css" rel="stylesheet" href="/resources/ui/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/resources/ui/datetime-picker/bootstrap-datetimepicker.min.css">
<link type="text/css" rel="stylesheet" href="/resources/ui/CSS/password_getback.css">
</head>

<body style="background:url(/resources/ui/Images/register/section4_bg.jpg) no-repeat center center;">
    <div class="BbPasswordWrap">
        <div class="BbPassword">
        	<h2></h2>
            <div class="container">
                <form class="form-horizontal" style="width:800px; margin:0 auto; padding-bottom:20px;">
                  <p class="title"> < 找回密码 > </p>
                  <div class="form-group" style="margin-top:20px;">
                    <label class="col-sm-2 control-label">Step-1</label>
                    <div class="col-sm-8">
                      <p style="text-align:left; margin-bottom:0;">邮箱验证</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-8">
                      <input type="电子邮箱" class="form-control" placeholder="注册时绑定的邮箱，如 someone@exmaple.com">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-8" style="position:relative;">
                      <input type="text" class="form-control" placeholder="请输入电子邮箱接收到的验证码"><span class="get_code">验证码</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Step-2</label>
                    <div class="col-sm-8">
                      <p style="text-align:left; margin-bottom:0;">重置密码</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" placeholder="密码由6~12位字符和数字组成">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" placeholder="密码确认">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-8">
                      <button type="button" class="btn btn-primary btn-lg password_getback">确认修改</button>
                    </div>
                  </div>
                </form>
            </div>
            
        </div>
    </div>
<script src="/resources/ui/JS/jquery-2.0.0.min.js"></script> 
<script src="/resources/ui/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/resources/ui/datetime-picker/moment.js"></script>
<script src="/resources/ui/datetime-picker/bootstrap-datetimepicker.min.js"></script>
<script>
	$(function () {  
		//日期选择插件
		$('#starttime').datetimepicker({  
			format: 'YYYY-MM-DD',  
			locale: moment.locale('zh-cn')  
		}); 
		$('#endtime').datetimepicker({  
			format: 'YYYY-MM-DD',  
			locale: moment.locale('zh-cn')  
		});
		$('.btn_selfinfo').click(function(e) {
            $('.form_selfinfo').hide();
			$('.form_serviceinfo').show();
        });
	});
</script>
</body>
</html>
