<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale-1">
<title>注册</title>
<link type="text/css" rel="stylesheet" href="/resources/ui/CSS/base.css">
<link type="text/css" rel="stylesheet" href="/resources/ui/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/resources/ui/datetime-picker/bootstrap-datetimepicker.min.css">
<link type="text/css" rel="stylesheet" href="/resources/ui/CSS/select2.min.css">
<link type="text/css" rel="stylesheet" href="/resources/ui/CSS/register.css">

</head>

<body style="background:url(/resources/ui/Images/register/section4_bg.jpg) no-repeat center center;">
    <div class="BbRegisterWrap">
        <div class="BbRegister">
        	<h2></h2>
            <div class="container">
                <form class="form-horizontal form_selfinfo" style="width: 839px; margin: 0 auto;" method="post">
                <div class="form_selfinfo" id="preDiv">
                  <p class="title">申请公司用户 - 公司信息</p>
                  
                  <div class="form-group">
                    <label class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="username" placeholder="用户名">
                    </div>
                  </div>

<div class="form-group">
                    <label class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="password" placeholder="密码">
                    </div>
                  </div>

<div class="form-group">
                    <label class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="passwordConfirm" placeholder="密码">
                    </div>
                  </div>

<div class="form-group">
                    <label class="col-sm-2 control-label">联系人</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="chineseName" placeholder="联系人">
                    </div>
                  </div>

<div class="form-group">
                    <label class="col-sm-2 control-label">联系电话</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="mobile" placeholder="联系电话">
                    </div>
                  </div>

<div class="form-group">
                    <label class="col-sm-2 control-label">公司名称</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="companyName" placeholder="公司名称">
                    </div>
                  </div>

<div class="form-group">
                    <label class="col-sm-2 control-label">供应链</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="splchainCo" placeholder="供应链">
                    </div>
                  </div>

<div class="form-group">
                    <label class="col-sm-2 control-label">角色类型</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="usrTp" placeholder="角色类型">
                    </div>
                  </div>

<div class="form-group">
                    <label class="col-sm-2 control-label">email</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="email" placeholder="email">
                    </div>
                  </div>


                  
						<div class="form-group" style="margin-top: 25px;">
							<p>
								<button type="button"
								class="btn btn-primary btn-lg btn_selfinfo" onclick="showOrHide(1)">Next step >></button> 
							</p>
						</div>
						<div class="form-group">
							<p class="account_in">
								Already have an account? <a href="${cxt!}/jf/thairice/t3user/login?returnUrl=/jf/thairice/t3user/exit#page4">Sign
									In</a>
							</p>
						</div>
					</div>
					
					<div class="form-horizontal form_serviceinfo"
						style="width: 801px; margin: 0 auto;display: none;" id="nextDiv">
						<p class="title">Create account- Service information</p>
<div class="form-group">
                    <label class="col-sm-2 control-label">注册地址</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="rgtads" placeholder="注册地址">
                    </div>
                  </div>

<div class="form-group">
                    <label class="col-sm-2 control-label">纳税人识别号</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="taxpyrIdNo" placeholder="纳税人识别号">
                    </div>
                  </div>

<div class="form-group">
                    <label class="col-sm-2 control-label">开户行</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="depbnk" placeholder="开户行">
                    </div>
                  </div>

<div class="form-group">
                    <label class="col-sm-2 control-label">银行账户号</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="bnkAccNo" placeholder="银行账户号">
                    </div>
                  </div>

<div class="form-group">
                    <label class="col-sm-2 control-label">备注</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="rmrk" placeholder="备注">
                    </div>
                  </div>

                  
                  


						
						<div class="fw"> <input type="checkbox" id="agree">&nbsp&nbsp<a onclick="privacy()">I have read and agree to the relevant terms of service and privacy policy</a></div>
						<div class="form-group" style="margin: 35px 0 0;">
							<p>
							    <button type="button"  class="btn btn-primary btn-lg" id="previous" style="margin-right: 50px;" > << Previous step</button>
								<button type="button" class="btn btn-primary btn-lg"
									onclick="submitForm()">Create Account</button>
							</p>
						</div>
						<div class="form-group">
							<p class="account_in">
								Already have an account? <a href="${cxt!}/jf/thairice/t3user/login?returnUrl=/jf/thairice/t3user/exit#page4">Sign
									In</a>
							</p>
						</div>
					</div>
					
                </form>
          
            </div>
            
        </div>
    </div>
    <!-- audit Modal-->
    <div class="modal fade" id="auditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">System message</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
      </div>
      <div class="modal-body">material under review</div>
      <div class="modal-footer">
        <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="welcome.html#page4">Sure</a>
      </div>  
    </div>
  </div>
</div>
<script src="/resources/ui/JS/jquery-2.0.0.min.js"></script> 
<script src="/resources/ui/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/resources/ui/datetime-picker/moment.js"></script>
<script src="/resources/ui/datetime-picker/bootstrap-datetimepicker.min.js"></script>
<script src="/resources/ui/JS/select2.min.js"></script>
<script>
	$(function () {  
		//日期选择插件
		$('#starttime').datetimepicker({  
			format: 'YYYY-MM-DD',  
			locale: moment.locale('zh-cn')  
		}); 
		$('#endtime').datetimepicker({  
			format: 'YYYY-MM-DD',  
			locale: moment.locale('zh-cn')  
		});
		$('.btn_selfinfo').click(function(e) {
            $('.form_selfinfo').hide();
			$('.form_serviceinfo').show();
        });
		$('.js-example-basic-multiple').select2();
	})
	
	function showOrHide(flag){
		alert(flag);
		if(flag==1){
			document.getElementById("nextDiv").style.display = "";
			document.getElementById("preDiv").style.display = "none";
		}else if(flag==2){
			document.getElementById("preDiv").style.display = "";
			document.getElementById("nextDiv").style.display = "none";
		}
	}
</script>
</body>
</html>
