<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
	<title>无模版</title>
	<link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/resources/dist/css/skins/_all-skins.css}"/>
	<link rel="stylesheet" th:href="@{/resources/dist/css/AdminLTE.min.css}"/>
	<link rel="stylesheet" th:href="@{/resources/dist/css/font-awesome.min.css}"/>
	<link rel="stylesheet" th:href="@{/resources/dist/css/ionicons.min.css}"/>
	<link rel="stylesheet" th:href="@{/resources/plugins/bootstrapValidator/bootstrapValidator.min.css}"/>
	<link rel="stylesheet" th:href="@{/resources/e7/css/e7-0.2.css}"/>
	<link rel="stylesheet" th:href="@{/resources/e7/e7table/e7table-0.2.css}"/>
	<link rel="stylesheet" th:href="@{/resources/adminlte/plugins/daterangepicker/daterangepicker-bs3.css}"/>
</head>

<body>
<!-- Main content -->
<section id="sec_main" class="content">
	<!-- 条件查询 -->
	<div class="box box-info">
		<div class="box-header with-border">
		</div>
		<!-- 条件区域 -->
		<div class="box-body" style="padding-bottom:0px;">
			<form id="frm_query" class="form-horizontal">
				<div id="div_criteria" class="flowlayout">
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="form-group">
							<label for="" class="col-sm-4 control-label">手机号：</label>
							<div class="col-sm-8">
								<input name="userPhone" class="form-control" placeholder="手机号"/>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

		<!-- 按钮区域 -->
		<div id="div_buttons" class="box-footer">
			<button class="btn btn-default" onclick="javascript:showViewDialog();">查看</button>
			<button class="btn btn-default" onclick="javascript:del();">删除</button>
			<button class="btn btn-default" onclick="javascript:export4Template();">导出</button>
			<button class="btn btn-default pull-right" onclick="javascript:reset()">重置</button>
			<button class="btn btn-primary pull-right" onclick="javascript:query()" style="margin-right:15px;">查询</button>
		</div>
	</div>

	<!-- 信息列表 -->
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-info">
				<div class="box-body table-responsive no-padding">
					<table id="tbl_query" class="table table-hover"></table>
				</div>
			</div>
		</div>
	</div>

</section>
<!-- /.content -->


<!-- 详细信息 -->
<section id="sec_detail" class="content detail" style="display:none;">
	<div class="box box-info">
		<div class="box-body">
			<form id="frm_detail" class="form-horizontal" >
				<fieldset id='fld_detail'>
					<input name="id" type="hidden" value=""/>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">手机号</label>
								<div class="col-sm-8">
									<input name="userPhone" class="form-control" disabled="disabled"/>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">反馈时间</label>
								<div class="col-sm-8">
									<input name="createTime" class="form-control" disabled="disabled"/>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">反馈内容</label>
								<div class="col-sm-8">
									<textarea name="content" class="form-control" disabled="disabled" cols="20" rows="12"></textarea>
								</div>
							</div>
						</div>
					</div>

					<input id="urls" name="urls" type="hidden" value=""/>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">反馈图片</label>
								<div id="imgDiv" class="col-sm-8">
								</div>
							</div>
						</div>
					</div>

				</fieldset>
			</form>



		</div>
		<div class="box-footer">
			<button id="btn_save" type="button" class="btn btn-primary pull-right" onclick="javascript:save();">保存</button>
			<button id="btn_close" type="button" class="btn btn-default pull-right" onclick="javascript:hideDetail();" style="margin-right:15px;">返回</button>
		</div>
	</div>
</section>
<!-- /.content -->

<script th:src="@{/resources/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<script th:src="@{/resources/plugins/bootbox/bootbox.min.js?v=1}"></script>
<script th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/plugins/bootstrapValidator/bootstrapValidator.min.js}"></script>
<script th:src="@{/resources/dist/js/app.min.js}"></script>
<script th:src="@{/resources/e7/e7util-0.2.js}"></script>
<script th:src="@{/resources/e7/e7table/e7table-0.2.js}"></script>
<script th:src="@{/resources/e7/e7crud-0.2.js}"></script>
<script th:src="@{/resources/adminlte/plugins/daterangepicker/moment.min.js}"></script>
<script th:src="@{/resources/adminlte/plugins/daterangepicker/daterangepicker.js}"></script>

<script type="text/javascript">
	var urls = "";

	var pageSetting = {
		modelName : '意见建议',
		resetPath : '[[@{/opinionSuggestion}]]'
	};

	$(function(){
		//e7table表格控件初始化
		e7tableInit();
		//表单校验控件初始化
		validatorInit();
	});

	/***
	 * 查询
	 */
	function query() {
		$('#tbl_query').e7table('query','#frm_query');
	}

	/***
	 * 重置
	 */
	function reset() {
		E7.resetForm('#frm_query');
	}

	/***
	 * e7table表格控件初始化
	 */
	function e7tableInit() {
		$('#tbl_query').e7table({
			url : '[[@{/opinionSuggestion/queryPage}]]',
			pageSize: 10,
			autoLoading: true,			//控件初始化后，自动远程请求数据
			selectType: 'single',
			columns : [
				{title: '反馈时间', field: 'createTime',formatter: function(value, row, index) {
					return new Date(value).format();
				}},
				{title: '手机号', field: 'userPhone'},
				{title: '反馈内容', field: 'content'}
//				{title: '图片地址', field: 'urls'}
			],
			onDblclick : function(index, row) {
				showViewDialog();
			}
		});
	}

	/***
	 * 表单校验控件初始化
	 */
	function validatorInit() {
		$('#frm_detail').bootstrapValidator({
			feedbackIcons: {
				valid: 'glyphicon glyphicon-ok',
				invalid: 'glyphicon glyphicon-remove',
				validating: 'glyphicon glyphicon-refresh'
			},
			fields: {

			}
		});

		$('#btn_save').click(function() {
			$('#frm_detail').bootstrapValidator('validate');
		});
	}

	/***
	 * 显示详情div
	 */
	function showDetail(title, editable){
		if(editable) {
			$('#fld_detail').prop('disabled', false);
			$('#btn_save').show();
		} else {
			$('#fld_detail').prop('disabled', true);
			$('#btn_save').hide();
		}

		var urls = $("#urls").val();
		if(urls){
			var urlArry = urls.split(",");
			$("#imgDiv").html("");
			for(var i=0;i<urlArry.length;i++){
				$("#imgDiv").append('<img src="'+ urlArry[i]+'" class="file-preview-image" style="width:auto;height:auto;max-width:100%;max-height:100%;"/>');
			}
		}

		$('#h3_detailTitle').text(title);
		$('#sec_detail').fadeIn(300);
		$('#sec_main').hide();

	}

	/***
	 * 隐藏详情div
	 */
	function hideDetail(){
		$('#sec_detail').fadeOut(300);
		setTimeout(function(){
			$('#sec_main').show();
		}, 300)
	}

	$('#rangeTime').daterangepicker(
			{
				timePickerIncrement: 1,
				format: 'YYYY-MM-DD hh:mm:ss',
				timePicker: true,
				locale:{
					format: 'YYYY-MM-DD hh:mm:ss',
					separator: ' --- ',
					applyLabel: "确定",
					cancelLabel: "取消",
					fromLabel: "起始时间",
					toLabel: "结束时间",
					customRangeLabel: "自定义",
					weekLabel: "W",
					daysOfWeek: ["日", "一", "二", "三", "四", "五", "六"],
					monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
					firstDay: 0
				}
			});


	function export4Template() {
		var ifrm = $('#ifr_export');
		if(ifrm.length == 0) {
			ifrm = $('<iframe id="ifr_export" style="display:none;height:0px,width:0px></iframe>');
			$('body').append(ifrm);
			$('#frm_query').attr('action', pageSetting.resetPath + '/export4Template');
			$('#frm_query').attr('target', 'ifr_export');
		}
		$('#frm_query').submit();
	}

	function cutstr(str, len) {
		var str_length = 0;
		var str_len = 0;
		str_cut = new String();
		str_len = str.length;
		for (var i = 0; i < str_len; i++) {
			a = str.charAt(i);
			str_length++;
			if (escape(a).length > 4) {
				//中文字符的长度经编码之后大于4
				str_length++;
			}
			str_cut = str_cut.concat(a);
			if (str_length >= len) {
				str_cut = str_cut.concat("...");
				return str_cut;
			}
		}
		//如果给定字符串小于指定长度，则返回源字符串；
		if (str_length < len) {
			return str;
		}
	}
</script>
</body>
</html>
