<!DOCTYPE html>
<html>
<head>
	<!-- <meta http-equiv="refresh" content="2"> -->
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
	<link rel="stylesheet" th:href="@{/resources/adminlte/dist/css/dist/css/AdminLTE.css}"/>
	<link rel="stylesheet" th:href="@{/resources/adminlte/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/resources/adminlte/plugins/iCheck/all.css}"/>
	<link rel="stylesheet" th:href="@{/resources/style.css}"/>
	<link rel="stylesheet" th:href="@{/resources/dist/kl-iconfont/iconfont.css}"/>
</head>
<body class="skin-blue sidebar-mini">
	<!-- 长约详细信息 -->
	<section id="sec_detail" class="content">
		<div class="box box-info">
			<div class="box-header with-border">
				<h3 id="h3_detailTitle" class="box-title">长约详细信息</h3>
				<div class="box-tools pull-right">
					<button class="btn btn-box-tool" data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
				</div>
			</div>
			<div class="box-body">
				<form id="frm_detail" class="form-horizontal">
					<fieldset id='fld_detail'>
						<div class="w-z-info">
							<input type="hidden" id="fileId" name="fileUrl"> <input
								name="id" type="hidden" value="" />
					 		<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">长约类型：</label>
									<div class="col-sm-8" th:text="${item.arTp}">				
									</div>
								</div>								
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">长约编号：</label>
									<div class="col-sm-8">
										<div th:text="${item.arId}"></div>
									</div>
								</div>
							</div>							

							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">融资企业：</label>
									<div class="col-sm-8">
										<div th:text="${item.fncEntp}"></div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">供应商：</label>
									<div class="col-sm-8">
										<div th:text="${item.ustrmSplr}"></div>
									</div>
								</div>
							</div> 
														<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">银行：</label>
									<div class="col-sm-8">
										<input name="bnk" id="bnk" class="form-control" placeholder="长约开始日期"
											value="2" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">物流公司：</label>
									<div class="col-sm-8">
										<input name="lgstcCo" id="lgstcCo" class="form-control" placeholder="长约开始日期"
											value="2" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">供应链公司：</label>
									<div class="col-sm-8">
										<input name="splchainCo" id="splchainCo" class="form-control" placeholder="长约开始日期"
											value="2" />
									</div>
								</div>
							</div>
							
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">长约开始日期：</label>
									<div class="col-sm-8">
										<input name="arStdt" class="form-control" placeholder="长约开始日期"
											value="2" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">长约结束日期：</label>
									<div class="col-sm-8">
										<input name="arEddt" class="form-control" placeholder="长约结束日期"
											value="2" />
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">提货周期：</label>
									<div class="col-sm-8">
										<input name="pckupgdsCyc" class="form-control"
											placeholder="提货周期" value="2" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">仓储公司：</label>
									<div class="col-sm-8">
										<input name="stgco" class="form-control" placeholder="仓储公司"
											value="2" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">业务类型：</label>
									<div class="col-sm-8">
										<select name="btp" class="form-control">
											<option value="">-请选择-</option>
											<option value="01" checked="checked">订单融资</option>
											<option value="02">保证金融资</option>
											<option value="03">质押融资</option>
										</select>
									</div>

								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">融资比例：</label>
									<div class="col-sm-8">
										<input name="fncPctg" class="form-control" placeholder="融资比例"
											value="2" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">预付金比率：</label>
									<div class="col-sm-8">
										<input name="prpyGldRto" class="form-control"
											placeholder="预付金比率" value="2" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">额度：</label>
									<div class="col-sm-8">
										<input name="lmt" class="form-control" placeholder="额度"
											value="2" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">警戒线：</label>
									<div class="col-sm-8">
										<input name="crdn" class="form-control" placeholder="警戒线"
											value="2" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">平仓线：</label>
									<div class="col-sm-8">
										<input name="clsposLn" class="form-control" placeholder="平仓线"
											value="2" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">服务费收取方式：</label>
									<div class="col-sm-8">
										<select name="svcfeeCmd" class="form-control">
											<option value="">-请选择-</option>
											<option value="01" checked="checked">预收</option>
											<option value="02">现结</option>
										</select>

									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">溢短结转方式：</label>
									<div class="col-sm-8">
										<select name="splovCrrovMod" class="form-control">
											<option value="">-请选择-</option>
											<option value="01" checked="checked">多退少补</option>
											<option value="02">结转下月</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">保险公司：</label>
									<div class="col-sm-8">
										<input name="insCo" id="insCo" class="form-control" placeholder="长约开始日期"
											value="2" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">投保人：</label>
									<div class="col-sm-8">
										<input name="plchd" class="form-control" placeholder="投保人"
											value="2" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">投保人地址：</label>
									<div class="col-sm-8">
										<input name="plchdAdr" class="form-control"
											placeholder="投保人地址" value="2" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">被保险人：</label>
									<div class="col-sm-8">
										<input name="insrd" class="form-control" placeholder="被保险人"
											value="2" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">被保险人地址：</label>
									<div class="col-sm-8">
										<input name="insrdAdr" class="form-control"
											placeholder="被保险人地址" value="2" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">第一受益人：</label>
									<div class="col-sm-8">
										<input name="fstBenf" class="form-control" placeholder="第一受益人"
											value="2" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">第一受益人地址：</label>
									<div class="col-sm-8">
										<input name="fstBenfAdr" class="form-control"
											placeholder="第一受益人地址" value="2" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">保险财产地址：</label>
									<div class="col-sm-8">
										<input name="insPtyAdr" class="form-control"
											placeholder="保险财产地址" value="2" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">保险标的名称：</label>
									<div class="col-sm-8">
										<input name="insObjNm" class="form-control"
											placeholder="保险标的名称" value="2" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">保险金额：</label>
									<div class="col-sm-8">
										<input name="insAmt" class="form-control" placeholder="保险金额"
											value="2" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">免赔额：</label>
									<div class="col-sm-8">
										<input name="dctbAmt" class="form-control" placeholder="免赔额"
											value="2" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">特别约定：</label>
									<div class="col-sm-8">
										<input name="epap" class="form-control" placeholder="特别约定"
											value="2" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">保险开始日期：</label>
									<div class="col-sm-8">
										<input name="insStdt" class="form-control"
											placeholder="保险开始日期" value="2" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">保险结束日期：</label>
									<div class="col-sm-8">
										<input name="insEddt" class="form-control"
											placeholder="保险结束日期" value="2" />
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="" class="col-sm-2 control-label">附件</label>
										<div class="col-sm-8">
											<form id="frm_transfer" class="form-horizontal"
												enctype="multipart/form-data" method="post">
												<div id="fujianId"></div>
											</form>
											<div class="modal-footer">
												<button id="btn_save2" type="button" class="btn btn-primary"
													onclick="javascript:addInputItem();">新增附件</button>
												<button id="btn_save1" type="button" class="btn btn-primary"
													onclick="javascript:submitTransferFile();">上传</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</form>

			</div>
			
			
		<!-- 环节流水信息列表 -->
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-info">
					<div class="box-body table-responsive no-padding">
						<table id="tbl_Lnk_Jrnl_Inf" class="table table-hover"></table>
					</div>
				</div>
			</div>
		</div>
		
		
			<div class="box-footer">
				<button id="btn_save" type="button"
					class="btn btn-primary pull-right" onclick="javascript:save();">确定</button>
				<button id="btn_close" type="button"
					class="btn btn-default pull-right"
					onclick="javascript:hideDetail();" style="margin-right: 15px;">取消</button>
			</div>
		</div>
	</section>
	<!-- 长约流转信息 -->
		<section id="sec_detail" class="content">
		<div class="box box-info">
			<div class="box-header with-border">
				<h3 id="h3_detailTitle" class="box-title">长约流转信息</h3>
				<div class="box-tools pull-right">
					<button class="btn btn-box-tool" data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
				</div>
			</div>
			<div class="box-body">
				<form id="frm_detail" class="form-horizontal">
					<fieldset id='fld_detail'>
						<div class="w-z-info">					
							<table id="tbl_Lnk_Jrnl_Inf" align="center"  class="table table-hover">
							   <thead>
								   <tr>
		                                <th style="border-bottom: none;">长约编号</th>
		                                <th style="border-bottom: none;">环节</th>
		                                <th style="border-bottom: none;">处理结果</th>
		                                <th style="border-bottom: none;">用户名</th>                                                              
		                                <th style="border-bottom: none;">公司名</th>
		                                <th style="border-bottom: none;">备注</th>
		                                <th style="border-bottom: none;">处理时间</th>
		                                <th style="border-bottom: none;">附件</th>
	                            	</tr>
                            	</thead>
                            	<tbody>
									<div class="w-z-d-list" th:each="ele: ${item.list}">
										<tr>
											<td><div th:text="${ele.rltvId}"></div> </td>
											<td><div th:text="${ele.aplyPcstpCd}"></div> </td>
											<td><div th:text="${ele.aplyPsrltCd}"></div> </td>
											<td><div th:text="${ele.username}"></div> </td>
											<td><div th:text="${ele.companyId}"></div> </td>
											<td><div th:text="${ele.rmrk}"></div> </td>
											<td><div th:text="${ele.lnkEdtm}"></div> </td>
											<td></td>
										</tr>
									</div>
								</tbody>
							</table>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</section>
	
<div class="w-z-info">
	<p class="w-z-title"><span class="w-z-t-title">标题:</span><span class="w-z-t-title" th:text="${item.arId}"></span></p>
	<p class="w-z-class"><span class="w-z-t-title">类目:</span><span class="w-z-t-title" th:utext="${item.fncEntp}"></span></p>
	<!-- <div class="w-z-content" th:utext="${item.content}"/></div> -->
 	<div class="w-z-docx" >
		<div class="w-z-d-title">附件</div>
		<div class="w-z-d-list" th:each="info: ${item.t2UploadAtch01List}">
			<i class="iconfont icon-kl-wendang"></i><a th:href="@{${info.srFileRte}}" target="_blank"><div th:text="${info.oriFileNm}"></div></a>
		</div>
	</div>
</div>
</body>
</html>

