<!DOCTYPE html>
<html>
<head>
<!-- 网址前的图标 -->
	<link rel="shortcut icon" th:src="@{/resources/image/favicon.ico}" type="image/x-icon" />
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>欢迎使用中检供应链金融服务平台</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
<!-- 	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" media="screen" /> -->
	<link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/dist/css/skins/_all-skins.css}" />
	<link rel="stylesheet" th:href="@{/resources/dist/css/AdminLTE.min.css}"/>
	<link rel="stylesheet" th:href="@{/resources/dist/css/AdminLTE.ext.css}"/>
	
		<!-- 阿里的字体图标 --> 
<!-- 	<link rel="stylesheet" th:href="@{/resources/css_zcb/iconfont.css}" /> -->
	
 	<link rel="stylesheet" th:href="@{/resources/dist/css/font-awesome.min.css}"/>
	<link rel="stylesheet" th:href="@{/resources/dist/css/ionicons.min.css}"/> 
	<link rel="stylesheet" th:href="@{/resources/dist/kl-iconfont/iconfont.css}"/> 
	<link rel="stylesheet" th:href="@{/resources/e7/css/e7-0.2.css?v=1}"/>

	<style type="text/css">
		.sidebar-menu .icon:before{
			font-family: "iconfont" !important;
			content: "\e778";
		}
		
		.sidebar-menu .active>a>.icon:before{
			font-family: "iconfont" !important;
			content: "\e600";
		}
		
		/* 左侧导航栏项目前图标样式 */
		.sidebar-menu .fa {
			color:#8F8383;
		}
		
		/* 左侧一级目录选中前字体样式 */
		.skin-blue-light .sidebar-menu > li > a {
	    border-left: 3px solid transparent;
	    font-weight: 600;
	    color: white;
		}

		/* 左侧一级目录选中前字体样式 */
		.skin-blue-light .sidebar-menu > li:hover > a, .skin-blue-light .sidebar-menu > li.active > a {
		    color: #3b578c;
		    background: #f4f4f5;
		}
		
/* .box-footer {
    background: #ABC6DB;
}

		.box.box-info {
		border-top-color: #ABC6DB;
		 background: #ABC6DB;
		}
		
		.box.box-info {
		border-top-color: #ABC6DB;
		} */
	</style>
	
	<script>
        setInterval("document.getElementById('jnkc').innerHTML=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay());",1000);
    </script>
</head>

<body class="hold-transition skin-blue-light sidebar-mini fixed" style="overflow-y:hidden;">
	<div class="wrapper">
		<header class="main-header">
			<!-- <a href="javascript:void(0)" class="logo" style="background:#0095ff;">  -->
			<a href="javascript:void(0)" class="logo" style="background:#B0B5B9;"> 
				<!-- <span class="logo-mini"><img alt="御捷管理平台" src="resources/image/logo_3.png" style="width:30px; height:30px;"/></span>
				<span class="logo-lg"><img alt="御捷管理平台" src="resources/image/logo_3.png" style="width:30px; height:30px; margin-top:-5px;"/> <b style="margin-top:5px;">御捷管理平台</b></span> -->
				<span class="logo-mini">
					<span href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" style="margin-top:-14px"> </span>
				</span>
				<span class="logo-lg">
					<img alt="XLINK" th:src="@{/resources/image/logo_4.png}" style="width:150px; height:37px; margin-top:-5px;"/>
					<span href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" style="margin-top:-14px; float:right;"> </span>
				</span>
			</a>
			<!-- <nav class="navbar navbar-static-top" role="navigation"  style="background:#0095ff;"> -->
			<nav class="navbar navbar-static-top" role="navigation"  style="background:#B0B5B9;">
				<a id="min_offcanvas" href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>
				<a href="#" style="color: #fff; margin-left:10px;font-size: 20px; font-weight: 600; line-height: 50px; font-family: 'Helvetica,Arial,';">
            		国家市场监督管理总局  科技创新供应链金融服务平台
          		</a>
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<!-- <li class="dropdown user user-menu">
							<a href="#" class="dropdown-toggle">
								<img src="resources/dist/img/user2-160x160.jpg" class="user-image" alt="用户头像"/> 
								<span class="hidden-xs" th:text="${session.loginUser.username}"></span>
							</a>							
						</li>
						<li>
							<a class="dropdown-toggle" href="javascript:logout();"> <i class="fa fa-sign-out"></i> 退出 </a>
						</li>
						<li class="fullscreen-content">
							<a class="dropdown-toggle  fullscreen" href="#"><i class="fa fa-arrows-alt"></i> </a>
						</li> -->
						
						 <!-- <li>
							<a href="javascript:openWarningTab();"><i id="i_msg_rev_notify" class="icon iconfont icon-kl-baojingxinxi"></i></a>
						</li> -->
	<!-- 					<a href="javascript:openWarningTab();"><i id="i_msg_rev_notify" class="icon iconfont icon-kl-baojingxinxi"></i></a> -->
						
						<li>
							<a id="jnkc">时间的实时显示</a>				
						</li>
						
						<li alt="Brand">
							<a><i id="i_msg_rev_notify" class="fa fa-envelope-o fa-lg"><span class="badge" id="span_1"></span></i></a>
						</li>
						<li onmouseover="refreshAdtTaskStatus(2)">
							<a><i id="i_adt_task_notify" class="fa fa-tasks fa-lg"><span class="badge" id="span_2"></span></i></a>
						</li>
											
						<li class="dropdown user user-menu">
							<a href="#" class="dropdown-toggle" id="dLabel" type="button" data-toggle="dropdown" >
								当前用户：<span class="hidden-xs" th:text="${session.loginUser.chineseName}"></span><i class="icon iconfont icon-kl-arrdown"></i>
							</a>
							<ul class="dropdown-menu" aria-labelledby="dLabel" style="width:158px;">
								<li><a href="javascript:modifyPassword();"><i class="icon iconfont icon-kl-xiugaimima"></i> 修改密码</a></li>
			                    <li><a href="javascript:logout();"><i class="icon iconfont icon-kl-tuichu"></i> 退出</a></li>
			                </ul>							
						</li>
					</ul>
				</div>
			</nav>
		</header>
		
		<aside class="main-sidebar" style="overflow-y: auto; min-height:0px; " >
			<section class="sidebar" style="background:#233646;">
<!-- 				<div class="user-panel" style="text-align:center;">
					<img src="resources/image/logo.png" alt="xxxxx平台" />
				</div> -->
<!-- 				<div class="user-panel">
			        <div class="pull-left image">
			          	<img src="resources/image/head_1.png" class="img-circle" alt="User Image">
			        </div>
			        <div class="pull-left info">
			          <p>您好</p>
			          <a href="javascript:void(0)" th:text="${session.loginUser.username}" style="margin-left: 1px;"></a>
			        </div>
			    </div>  -->
				<ul class="sidebar-menu" >
					
				</ul>
			</section>
		</aside>

		<div class="content-wrapper" style="min-height: 0px;background:#233646;" ><!-- 页面工作区tab栏背景色及页面最底部边线背景色 -->
			<ul id="tabPanel" class="nav nav-tabs" style="background:#FFFFFF;"> </ul><!-- 页面工作区tab栏背景色 -->
		</div>
	</div>
</body>
</html>

<script th:src="@{/resources/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<script th:src="@{/resources/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/resources/plugins/bootbox/bootbox.min.js}"></script>
<script th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/dist/js/app.min.js}"></script>
<script th:src="@{/resources/dist/js/App.Extend.js?v=1}"></script>
<script th:src="@{/resources/e7/e7util-0.2.js}"></script>
<script th:src="@{/resources/e7/e7tabs/e7tabs-0.3.js}"></script>
<script th:src="@{/resources/js_zcb/layer/layer.js}"></script>
<script th:inline="javascript">
	/*<![CDATA[*/  
 	$(function(){ 		
		$('#tabPanel').e7tabs({
			tabs:[
			     {id:'158',title:'首页', url:[[@{/home}]], closable:false} 
			]
		});
		
		var menus = [[${session.loginUser.menus}]];
		
		Menu.init(menus, [[@{/}]]);		
		
		refreshMsgRevStatus();
	//	setInterval(refreshMsgRevStatus, 10000);
		refreshAdtTaskStatus();
	//	setInterval(refreshAdtTaskStatus, 10000);
	});
		
	function modifyPassword() {
		var tab = {title:'修改密码', url:[[@{/password}]]};
		$('#tabPanel').e7tabs('add', tab);
	}
	
	function logout() {
		bootbox.confirm({
			buttons : {
				confirm : {label : '确定', className : 'btn-info'},
				cancel : {label : '取消', className : 'btn-cancel'}
			},
			className : "del-model",
			message : '确定要退出？',
			callback : function(result) {
				if (!result) return;
				
				E7.post([[@{/logout}]], {}, function(result) {
					if(result && result.code == 0) {
						location = [[@{/login}]];
					}
				});
			},
			title : "退出确认"
		});			
	}
	
	function setMsgRevNotify(wdMsgNum) {
		if(wdMsgNum > 0) {
			// 展示未读消息条数
			$("#span_1").html(wdMsgNum);
			$('#i_msg_rev_notify').addClass('warning');
		} else {
			// 清除未读消息条数
			$("#span_1").html("");
			$('#i_msg_rev_notify').removeClass('warning');
		}
	}
	
	function setAdtTaskNotify(totalAdtTskNum) {
		// 如果有待审批单子
		if(totalAdtTskNum>0){
			// 展示待处理任务数
			$("#span_2").html(totalAdtTskNum);
			$('#i_adt_task_notify').addClass('warning');
		} else {
			// 清除待处理任务数
			$("#span_2").html("");
			$('#i_adt_task_notify').removeClass('warning');
		}
	}
	
	function openWarningTab() {
		var tab = {title:'故障记录', url:[[@{/carFault/list}]]};
		$('#tabPanel').e7tabs('add', tab);
	}
	
	function openTab(tab) {
		$('#tabPanel').e7tabs('add', tab);
	}
	
	var preWdMsgNum = 0;
	function refreshMsgRevStatus() {	
 		E7.ajax({
			url:[[@{/msgManagement/getWdMgsNum}]],
			maskable:false,
			success:function(result) {
				if(result.code == 0) {
					var wdMsgNum = result.data;
					if(preWdMsgNum < wdMsgNum){						
						layer.msg('您有'+ (wdMsgNum-preWdMsgNum)+'条新消息，请注意查收！', {
							  time: 15000, //15s后自动关闭
							  btn: ['知道了']
							});
						
						preWdMsgNum = wdMsgNum;
					}
					setMsgRevNotify(result.data);
				} else {
					console.log(result.msg);
				}
			},
			error: function(XMLHttpRequest, textStatus, errorThrown){
				console.log('E7.ajax请求error！');
			}
		});
	}
	var preAdtArTskNum = 0;
	var preAdtOrdrTskNum = 0;
	var preAdtSpgTskNum = 0;
	function refreshAdtTaskStatus(flag) {	
		// flag=2:手动查询实时展示， 其他值自动定时查询
		isNeedTip = false;
 		E7.ajax({
			url:[[@{/spgManagement/getAdtTaskNum}]],
			maskable:false,
			success:function(result) {
				var adtTsktips = "";
				var isNeedTip = false;
				if(result.code == 0) {
					var adtTaskList = result.data;
					if(null != adtTaskList){
						var adtArTskNum = adtTaskList[0];
						var adtOrdrTskNum = adtTaskList[1];
						var adtSpgTskNum = adtTaskList[2];
						var totalAdtTskNum = adtArTskNum + adtOrdrTskNum + adtSpgTskNum;
						setAdtTaskNotify(totalAdtTskNum);
						adtTsktips = "您有";		
						
						if(2==flag){
							preAdtArTskNum = 0;
							preAdtOrdrTskNum = 0;
							preAdtSpgTskNum = 0;
						}
						if(preAdtArTskNum < adtArTskNum){
							adtTsktips += ((adtArTskNum - preAdtArTskNum) + "笔新的待审批长约；");	
							isNeedTip = true;
						}
						preAdtArTskNum = adtArTskNum;
						if(preAdtOrdrTskNum < adtOrdrTskNum){
							adtTsktips += ((adtOrdrTskNum - preAdtOrdrTskNum) + "笔新的待处理订单；");
							isNeedTip = true;
						}
						preAdtOrdrTskNum = adtOrdrTskNum;
						if(preAdtSpgTskNum < adtSpgTskNum){
							adtTsktips += ((adtSpgTskNum - preAdtSpgTskNum) + "笔新的待处理货物；");
							isNeedTip = true;
						}
						preAdtSpgTskNum = adtSpgTskNum;
						adtTsktips += "请您及时处理。";
						
						if(isNeedTip){
							//tips层
							layer.tips(adtTsktips, '#i_adt_task_notify',{
								tips: [1, '#3595CC'],
								time: 30000,
								closeBtn: 1 //不显示关闭按钮
							})
						}
					}
				} else {
					console.log(result.msg);
				}
			},
			error: function(XMLHttpRequest, textStatus, errorThrown){
				console.log('E7.ajax请求error！');
			}
		});
	}
 
</script>
